@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: '#60A5FA',
  --color-secondary: '#0c4a6e',
  --color-tertiary: '#99a0a3',
}

a {
  @apply border-b-2 border-transparent;

}

a:hover {
  @apply border-b-2 border-blue-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
